.App {
  text-align: center;
  font-family: Roboto, sans-serif;
}

.navbar {
  background-color: rgb(29, 48, 48);
  color: white;
  justify-content: center !important;
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
  padding: 15px 15px;
  padding-inline: 30px;
  max-width: 1500px;
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column; /* Stack links vertically */
    align-items: flex-start; /* Align links to the left */
    padding: 10px 0;
  }

  .route-link {
    padding: 10px 0; /* Reduce padding for vertical layout */
  }

  .register-button {
    margin-left: 0; /* Remove left margin for vertical layout */
    margin-top: 10px; /* Add top margin for spacing */
  }
}

.nav-links {
  display: flex;
}

.route-link {
  font-size: large;
  font-weight: bold;
  padding-inline: 20px;
  padding-block: 10px;
}

.route-link a {
  color: white !important;
  text-decoration: none !important
}

.route-link a:visited {
  color: white !important; /* Style for visited links inside .route-link */
  text-decoration: none !important
}

.navbar-title a {
  color: white !important;
  text-decoration: none !important;
}


.navbar-title a:visited {
  color: white !important; /* Style for visited links inside .route-link */
  text-decoration: none !important
}

.navbar-title {
  font-size: xx-large;
  color: white;
  font-weight: 500;
  padding-left: 20px;
}

.App {
  font-family: 'Roboto', sans-serif;
}

.footer {
  justify-self: center;
  text-align: right;
  width: 100%;
  max-width: 1200px;
  color: black;
  padding: 10px;
  font-size: small;
  margin-top: 100px;
}